
.body {
    /*box-shadow: 1px 1px 2px 2px #ccc;*/
    background: #2C2C2C; /* Assuming you want the same background */
}

.history {
    text-align: left;
    margin-bottom:8px;
}

.history.header {
    font-weight:bold;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    margin-bottom: 10px;

}

.history.session {
    font-size:77%;
}

.history_query{
    cursor:pointer;
    padding-left: 0 !important;
}

.trashit {
    text-align:center;
    padding-left:0 !important;
    cursor:pointer;
}

