.messages {
    padding: 30px 0 10px;
    overflow: hidden;
    padding-bottom:100px;
}

.messages .empty {
    color: cyan;
}

.messages dl {
    overflow: hidden;
}

.messages dt:before {
    content: "Visitor";
    position: absolute;
    right: 0;
    top: -20px;
    height: 20px;
    color: #9DA5B1;
    font-size: 77%;
}

.messages dd:before {
    content: "MICA AI";
    position: absolute;
    left: -25px;
    top: -20px;
    padding-left: 25px;
    height: 20px;
    background: url("../../assets/images/mica_logo.png") 0 50% no-repeat;
    color: #9DA5B1;
    font-size: 77%;
    background-size: 30%;
    border-radius: 50px;
}

.messages dt {
    float: right;
    width: 85%;
    border-radius: 10px 10px 3px 10px;
    background: #2846E4;
    color: #fff;
    padding: 10px 15px;
    text-align: left;
    min-height: 50px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-right: 12px;
    position: relative;
}

.messages dd {
    float: left;
    width: 90%;
    border-radius: 3px 10px 10px 10px;
    background: #E9EEF3;
    color: #000;
    padding: 10px 15px;
    text-align: left;
    min-height: 50px;
    margin-bottom: 0px;
    margin-left: 25px;
    position: relative;
}

.soft_text {
    color: #9DA5B1;
}

.msg_meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Align items at the bottom */
    overflow: hidden;
    margin-top: 10px;
}

.votes {
    display: flex;
    align-items: center; /* Align votes at the bottom */
}

.vote {
    display: inline-block;
    cursor: pointer;
    margin-left: 3px;
}

.token_usage {
    font-size: 77%;
    margin-top: 5px;
}

.divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 15px 0;
}

.delete-icon {
    cursor: pointer;
    color: red;
    position:absolute;
    top:0;
    right:0;
}

